h1 {
    color:silver;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}

h3 {
    text-align: center;
    color:silver;
    padding: 10px;

}

body {
    background-color:Salmon;
}

nav {
    inline: block;
}

p {
    text-align: center;
}