h1 {
    color:silver;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}

#email {
    text-align: center;
}

h3 {
    text-align: center;
    color:silver;
    padding: 10px;
}

body {
    background-color:Salmon;
}

#salmon {
    margin-right: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#chinook {
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#fish {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;    
}

#family {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

#shirt {
    float:left;
    padding: 50px;
    margin-right: 500px;
}

#frosted-cookie {
    float: center;
    padding: 50px;
}

#cutter {
    float: right;
    padding: 50px;
}

p {
    text-align: center;
}