h1 {
    color:black;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color:blue;
    text-align: left;
}

body {
    background-color:white;
}

table, td {
    border:thin solid black;
    border-collapse: collapse;
    width: 800px;
    height: 50px;
    padding: 10px;
}

th {
    color:slateblue
}
